<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Eventex - 2ª Vez - Home</title>
    <meta charset="utf-8">
    <meta name="description" content="Eventex">
    <meta name="keywords" content="Eventex">
    <meta name="robots" content="index">
</head>
<body>
  <header>
    <h1>Welcome to Eventex<h1>
  </header>
  <nav>
    <a href="index.html" title="Home">Home</a>
  </nav>
  <main>
    <h2>Bem vindo a nossa página de Eventos!</h2>
  </main>
  <footer>
    <p>Desenvolvido por Gregorio Queiroz (GregMaster)</p>
  </footer>        
</body>
</html>
